In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(data = {'age': [10,20,30], 'height': [100, 170, 175]},
                  index = pd.Series(['a', 'b', 'c'], name='Tag')
                  )

# df
df.head()

     age  height
Tag
a     10     100
b     20     170
c     30     175

In [3]:
data = {'age': [10,20,30], 'height': [100, 170, 175]}
index = pd.Series(['a', 'b', 'c'], name='Tag')
pd.DataFrame(data, index)

     age  height
Tag
a     10     100
b     20     170
c     30     175

In [4]:
df = pd.DataFrame(columns=['age', 'height'])
# index = pd.Series(['a', 'b', 'c'], name='Tag')
df['age'] = [10,20,30]
df['heigh'] = [100, 170, 175]
df.index = pd.Series(['a', 'b', 'c'], name='Tag')
df

     age height  heigh
Tag
a     10    NaN    100
b     20    NaN    170
c     30    NaN    175

In [5]:
df[['height', 'age']]

    height  age
Tag
a      NaN   10
b      NaN   20
c      NaN   30

In [6]:
df2 = df.copy()
df2

     age height  heigh
Tag
a     10    NaN    100
b     20    NaN    170
c     30    NaN    175

In [7]:
pd.isnull(df2)

       age  height  heigh
Tag
a    False    True  False
b    False    True  False
c    False    True  False

In [8]:
df2.isnull

<bound method DataFrame.isnull of      age height  heigh
Tag
a     10    NaN    100
b     20    NaN    170
c     30    NaN    175>

Other example:

In [9]:
# List of Tuples
empoyees = [('jack', 34, 'Sydney', 155),
('Riti', 31, 'Delhi', 177),
('Aadi', 16, 'Mumbai', 81),
('Mohit', 31, 'Delhi', 167),
('Veena', 81, 'Delhi', 144),
('Shaunak', 35, 'Mumbai', 135),
('Shaun', 35, 'Colombo', 111)
]

# Create a DataFrame object
student_df = pd.DataFrame(empoyees, columns=['Name', 'Age', 'City', 'Marks'])
student_df

      Name  Age     City  Marks
0     jack   34   Sydney    155
1     Riti   31    Delhi    177
2     Aadi   16   Mumbai     81
3    Mohit   31    Delhi    167
4    Veena   81    Delhi    144
5  Shaunak   35   Mumbai    135
6    Shaun   35  Colombo    111

Let's search for something in the table

In [10]:
# Get bool dataframe with True at positions where value is 81
result = student_df.isin([81])
print('Bool Dataframe representing existence of value 81 as True')
print(result)
# result

Bool Dataframe representing existence of value 81 as True
    Name    Age   City  Marks
0  False  False  False  False
1  False  False  False  False
2  False  False  False   True
3  False  False  False  False
4  False   True  False  False
5  False  False  False  False
6  False  False  False  False

In [11]:
# Get list of columns that contains the value i.e., 81
seriesObj = result.any()
columnNames = list(seriesObj[seriesObj == True].index)
print('Names of columns which contains 81:', columnNames)

Names of columns which contains 81: ['Age', 'Marks']

In [12]:
# Iterate over each column and fetch the rows number where
for col in columnNames:
    rows = list(result[col][result[col] == True].index)
    for row in rows:
        print('Index : ', row, ' Col : ', col)

Index :  4  Col :  Age
Index :  2  Col :  Marks

In [13]:
def getIndexes(dfObj, value):
    ''' Get index positions of value in dataframe i.e. dfObj.'''
 
    listOfPos = list()
    # Get bool dataframe with True at positions where the given value exists
    result = dfObj.isin([value])
    # Get list of columns that contains the value
    seriesObj = result.any()
    columnNames = list(seriesObj[seriesObj == True].index)
    # Iterate over list of columns and fetch the rows indexes where value exists
    for col in columnNames:
        rows = list(result[col][result[col] == True].index)
        for row in rows:
            listOfPos.append((row, col))
    # Return a list of tuples indicating the positions of value in the dataframe
    return listOfPos

In [14]:
listOfElems = [81, 'Delhi', 'abc']
 
# Use dict comprhension to club index positions of multiple elements in dataframe
dictOfPos = {elem: getIndexes(student_df, elem) for elem in listOfElems}
 
print('Position of given elements in Dataframe are : ')
for key, value in dictOfPos.items():
    print(key, ' : ', value)

Position of given elements in Dataframe are :
81  :  [(4, 'Age'), (2, 'Marks')]
Delhi  :  [(1, 'City'), (3, 'City'), (4, 'City')]
abc  :  []

In [15]:
df = pd.DataFrame({'BoolCol': [True, False, False, True, True]},
                  index=[10,20,30,40,50]
                 )

df

    BoolCol
10     True
20    False
30    False
40     True
50     True

In [16]:
df.index[df['BoolCol']].tolist()

[10, 40, 50]