In [1]:
import numpy as np
import pandas as pd

In [2]:
d = {'Index Title': ['Apples', 'Oranges', 'Puppies', 'Ducks'], 
     'Column 1': [1.0, 2.0, 3.0, 4.0]}
df = pd.DataFrame(d)
df

  Index Title  Column 1
0      Apples       1.0
1     Oranges       2.0
2     Puppies       3.0
3       Ducks       4.0

In [3]:
df = df.set_index('Index Title')
df

             Column 1
Index Title
Apples            1.0
Oranges           2.0
Puppies           3.0
Ducks             4.0

In [4]:
# df = df.rename_axis('foo')
# df = df.rename_axis('foo1', axis=0)
df.index.rename('foo', inplace=True)
df

         Column 1
foo
Apples        1.0
Oranges       2.0
Puppies       3.0
Ducks         4.0

In [5]:
df = df.rename_axis('foo2', axis=1)
df

foo2     Column 1
foo
Apples        1.0
Oranges       2.0
Puppies       3.0
Ducks         4.0

In [6]:
df = df.rename_axis('foo3').rename_axis("bar", axis="columns")
df

bar      Column 1
foo3
Apples        1.0
Oranges       2.0
Puppies       3.0
Ducks         4.0

In [7]:
df = df.rename_axis('Fruit').rename_axis("bar", axis=1)
df

bar      Column 1
Fruit
Apples        1.0
Oranges       2.0
Puppies       3.0
Ducks         4.0

In [8]:
df.index.name
# df.index.name = 'fool'
# df

'Fruit'

In [9]:
df.columns.name
# df.columns.name = 'foo'
# df

'bar'

In [10]:
df = df.rename_axis(index=None, columns=None)
df

         Column 1
Apples        1.0
Oranges       2.0
Puppies       3.0
Ducks         4.0

In [11]:
df['Column 2'] = [6, 7, 8, 9]
df

         Column 1  Column 2
Apples        1.0         6
Oranges       2.0         7
Puppies       3.0         8
Ducks         4.0         9

In [12]:
df.loc['Carrot'] = [5., 10]
df

         Column 1  Column 2
Apples        1.0       6.0
Oranges       2.0       7.0
Puppies       3.0       8.0
Ducks         4.0       9.0
Carrot        5.0      10.0

In [13]:
# df.loc[row_index]
df.loc['Oranges']

Column 1    2.0
Column 2    7.0
Name: Oranges, dtype: float64

In [14]:
df.iloc[3, :]

Column 1    4.0
Column 2    9.0
Name: Ducks, dtype: float64

# Multi Index

In [15]:
mux = pd.MultiIndex.from_arrays([['Apples', 'Oranges', 'Puppies', 'Ducks'],
                                  list('abcd')], 
                                  names=['index name 1','index name 1'])


df = pd.DataFrame(np.random.randint(10, size=(4,6)), 
                  index=mux, 
                  columns=list('ABCDEF')).rename_axis('col name', axis=1)

df

col name                   A  B  C  D  E  F
index name 1 index name 1
Apples       a             5  5  1  6  9  6
Oranges      b             7  7  0  8  9  7
Puppies      c             1  4  5  9  4  2
Ducks        d             5  4  8  2  0  2

In [16]:
print(df.index.name)
print(df.columns.name)

print(df.index.names)
print(df.columns.names)

None
col name
['index name 1', 'index name 1']
['col name']

In [17]:
df1 = df.rename_axis(('foo','bar'))
df1

col name     A  B  C  D  E  F
foo     bar
Apples  a    5  5  1  6  9  6
Oranges b    7  7  0  8  9  7
Puppies c    1  4  5  9  4  2
Ducks   d    5  4  8  2  0  2

In [18]:
df2 = df.rename_axis('baz', axis=1)
df2

baz                        A  B  C  D  E  F
index name 1 index name 1
Apples       a             5  5  1  6  9  6
Oranges      b             7  7  0  8  9  7
Puppies      c             1  4  5  9  4  2
Ducks        d             5  4  8  2  0  2

In [19]:
df2 = df.rename_axis(index=('foo','bar'), columns='baz')
df2

baz          A  B  C  D  E  F
foo     bar
Apples  a    5  5  1  6  9  6
Oranges b    7  7  0  8  9  7
Puppies c    1  4  5  9  4  2
Ducks   d    5  4  8  2  0  2

In [20]:
df2 = df.rename_axis(index=(None,None), columns=None)
df2

           A  B  C  D  E  F
Apples  a  5  5  1  6  9  6
Oranges b  7  7  0  8  9  7
Puppies c  1  4  5  9  4  2
Ducks   d  5  4  8  2  0  2

### Multi Index, Multi Columns

In [21]:
mux1 = pd.MultiIndex.from_arrays([['Apples', 'Oranges', 'Puppies', 'Ducks'],
                                  list('abcd')], 
                                  names=['index name 1','index name 1'])


mux2 = pd.MultiIndex.from_product([list('ABC'),
                                  list('XY')], 
                                  names=['col name 1','col name 2'])

df = pd.DataFrame(np.random.randint(10, size=(4,6)), index=mux1, columns=mux2)
df

col name 1                 A     B     C
col name 2                 X  Y  X  Y  X  Y
index name 1 index name 1
Apples       a             5  1  3  4  7  8
Oranges      b             0  7  2  5  5  8
Puppies      c             0  6  4  6  3  2
Ducks        d             6  1  7  7  0  8

In [22]:
print(df.index.name)
print(df.columns.name)

print(df.index.names)
print(df.columns.names)

None
None
['index name 1', 'index name 1']
['col name 1', 'col name 2']

In [23]:
# df = df.rename_axis(('foo','bar'))
# df = df.rename_axis(('baz','bak'), axis=1)
df = df.rename_axis(index=('foo','bar'), columns=('baz','bak'))
df

baz          A     B     C
bak          X  Y  X  Y  X  Y
foo     bar
Apples  a    5  1  3  4  7  8
Oranges b    0  7  2  5  5  8
Puppies c    0  6  4  6  3  2
Ducks   d    6  1  7  7  0  8

In [24]:
df = df.rename_axis(index=(None,None), columns=(None,None))
df

           A     B     C
           X  Y  X  Y  X  Y
Apples  a  5  1  3  4  7  8
Oranges b  0  7  2  5  5  8
Puppies c  0  6  4  6  3  2
Ducks   d  6  1  7  7  0  8

In [25]:
df.index.names = ['foo', 'bar']
df.columns.names = ['baz','bak']
df

baz          A     B     C
bak          X  Y  X  Y  X  Y
foo     bar
Apples  a    5  1  3  4  7  8
Oranges b    0  7  2  5  5  8
Puppies c    0  6  4  6  3  2
Ducks   d    6  1  7  7  0  8